* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.container {
    background: url(../image/Background.png);
    background-size: cover;
    background-position: center;
    background-position-y: 15%;
    min-height: 100vh;
    width: 100%;
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.textCenter {
    display: flex;
    text-align: center;
}

.col {
    display: flex;
    flex-direction: column;
}

.row {
    display: flex;
    flex-direction: row;
}

.pointer {
    cursor: pointer;
}

.wrap {
    flex-wrap: wrap;
}

.ai-center {
    align-items: center;
}

.jc-start {
    display: flex;
    justify-content: center;
}

.gap10 {
    gap: 10px;
}

.text-w {
    width: 200px;
}

.color {
    color: #021830;
}

.color-w {
    color: white
}

.row-profile {
    display: flex;
    flex-direction: row;
}

.rightline-col {
    display: flex;
    flex-direction: column;
}

.h0 {
    height: 0;
}

.login-box {
    background-color: rgba(1, 11, 20, 0.8);
    width: 400px;
    height: 550px;
    border-radius: 5%;
}

.eye {
    font-size: 24px;
    position: absolute;
    margin-top: 15px;
    margin-left: 315px;
}

.pass-eye {
    display: flex;
    justify-content: center;
}

.links {
    display: flex;
    justify-content: center;
    width: 400px;
    margin-top: 5px;
    gap: 185px;
}

h1 {
    color: white;
    margin-bottom: 50px;
}

.link {
    color: white;
    text-decoration: none;
    background: none;
    border: none;
}

.input-style {
    width: 350px;
    height: 40px;
    margin: 7px;
    border-radius: 5px;
    border: 0;
    padding-left: 5px;
    outline: none;
}

#strong {
    display: flex;
    font-size: 10px;
    margin-left: 25px;
}

.weak::after {
    content: 'Weak Password';
    color: red;
}

.medium::after {
    content: 'Medium Password';
    color: yellow;
}

.strong::after {
    content: 'Strong Password';
    color: green;
}

.reg-style {
    width: 172px;
    height: 40px;
    margin: 7px;
    margin-right: 3px;
    margin-left: 3px;
    border-radius: 5px;
    border: 0;
    padding-left: 5px;
    outline: none;
}

.bg-line {
    background-color: white;
    width: 100vh;
    height: 5vh;
    border: 3px solid gray;
    padding: 10px;
    justify-content: space-between;
}

.fs-20 {
    font-size: 20px;
}

.btn-play {
    color: #ecf0f1;
    font-size: 17px;
    background-color: #082646;
    border: 1px solid #001730;
    border-radius: 5px;
    box-shadow: 0px 6px 0px #001730;
    transition: ease-in-out .2s;
    width: 17vh;
    height: 3vh;
}

.btn-play:hover {
    background-color: #071e38;
    border-color: #001020;
    box-shadow: 0px 6px 0px #001020;
}

.btn-play:active {
    box-shadow: 0px 2px 0px #001730;
    position: relative;
    top: 2px;
}

.w80-cg {
    width: 80%;
    display: flex;
    justify-content: space-between;
    overflow: hidden;
}

.w20-cg {
    width: 20%;
    display: flex;
    justify-content: flex-end;
}

.btn {
    width: 350px;
    height: 40px;
    margin: 7px;
    border-radius: 5px;
    color: white;
    background-color: black;
    transition: 800ms ease-in-out;
    border: 0;
    font-size: 20px;
}

.btn:hover {
    background-color: rgb(255, 0, 0);
}

.diamond,
.heart {
    color: rgb(255, 0, 0);
    cursor: pointer;
}

.logout {
    color: rgb(255, 0, 0);
    cursor: pointer;
    background: none;
    outline: none;
    border: none;
}

.rightline {
    right: 0;
    width: 50px;
    height: 100vh;
    top: 0;
    background-color: white;
    position: fixed;
}

#msg {
    margin-top: 10px;
    font-size: 20px;
}

.profile-box {
    width: 70vh;
    height: 95vh;
    background-color: white;
}

.mini-box-info-hide {
    display: none;
}

.rating-box {
    width: 150vh;
    height: 10vh;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
}

.mini-rating-box {
    width: 150vh;
    height: 10vh;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
}

.fa-user {
    border: 5px solid rgba(26, 26, 26, 0.2);
    border-radius: 5px;
}

.win,
.lose,
.mach,
.money {
    opacity: 1;
}

.w50 {
    width: 35vh;
    font-size: 20px;
    height: 47.5vh;
    padding-bottom: 150px;
}

.w50-username {
    width: 35vh;
    font-size: 20px;
    height: 47.5vh;
}

.w50-text {
    width: 35vh;
    font-size: 20px;
    height: 47.5vh;
}

.w50-split {
    width: 100%;
    font-size: 20px;
    height: 23.7vh;
}

.imgText {
    color: black;
    position: absolute;
}

.profile-btn {
    width: 200px;
    height: 50px;
    background-color: #021830;
    margin-bottom: 10px;
}

.delete-btn {
    background: none;
    color: red;
    font-size: 16px;
    text-align: center;
    border-bottom: solid 2px;
    padding-bottom: 2px;
}

.usernameChange {
    width: 130px;
    height: 180px;
    border: 2px solid #021830;
    border-radius: 10px;
}

.input-changeUsername {
    background: #021830;
    outline: none;
    border: none;
    padding-left: 5px;
    height: 30px;
    width: 110px;
    color: white;
    border-radius: 4px;
    margin-bottom: 5px;
}

.input-changeUsername::placeholder {
    color: white;
    opacity: 1;
}

.btn-changeUsername {
    width: 50px;
    height: 20px;
    border: none;
    color: white;
    background: #021830;
}

.imgButton {
    height: 30px;
    width: 100px;
    margin-left: 1vh;
    border: none;
    background-color: #021830;
    color: white;
    transition: 300ms ease-in-out;
}

.imgButton:hover {
    box-shadow: 5px 5px 0px rgba(255, 0, 0, 0.6);
}

.sort-box {
    width: 30vh;
    display: flex;
    overflow: hidden;
}

.w40 {
    height: 20vh;
    width: 40%;
}

.switch {
    position: relative;
    display: inline-block;
    width: 45px;
    height: 25px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border-radius: 12px;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 17px;
    width: 17px;
    border-radius: 50%;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked+.slider {
    background-color: #1eff00;
}

input:checked+.slider:before {
    -webkit-transform: translateX(20px);
    -ms-transform: translateX(20px);
    transform: translateX(20px);
}

.h25 {
    height: 25vh;
    width: 100%;
}

.h50 {
    height: 50vh;
    width: 100%;
    display: flex;
    align-items: center;
}

.w58-mid {
    height: 50vh;
    width: 58%;
}

.btn-name {
    font-size: 18px;
}

.btn-emoji {
    font-size: 25px;
}

.option-btn {
    opacity: 1;
}

.hide-btn {
    background: none;
    outline: none;
    border: none;
}

#form {
    height: 0;
}

#text-sym {
    font-size: 100px;
}

.hit-cards {
    z-index: 100;
    position: absolute;
}

.w20 {
    height: 25vh;
    width: 20%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.w20-hited {
    height: 25vh;
    width: 20%;
    display: flex;
    align-items: center;
}

#card-hited {
    width: 130px;
    height: 200px;
    position: fixed;
}

.deckcards {
    height: 25vh;
    width: 50%;
    display: flex;
    align-items: flex-end;
}

.enemydeckcards {
    height: 25vh;
    width: 50%;
    display: flex;
    align-items: flex-start;
}

#maste {
    width: 130px;
    height: 200px;
    rotate: 90deg;
    left: -110px;
    position: relative;
}

.play-btn {
    width: 80px;
    height: 20px;
    border: none;
    background: white;
    color: black;
    margin: 1px;
}

#none {
    width: 130px;
    height: 200px;
    margin: 5px;
}

#card-InHands,
#enemy-look {
    width: 130px;
    height: 200px;
    transition: 300ms ease-in-out;
    margin-right: -40px;
}

#card-InHands:hover {
    width: 150px;
    height: 220px;
    cursor: pointer;
}

.cardPlaced {
    position: absolute;
    top: 350px;
}

.deck {
    width: 130px;
    height: 200px;
    position: relative;
    z-index: 1;
}

.fullsize {
    width: 100%;
    height: 100%;
}

.surr {
    font-size: 32px;
    color: white;
    border: 2px solid white;
    border-radius: 10px;
    width: 42px;
    justify-content: center;
    display: flex;
    position: absolute;
}

.roomName,
.moneys,
.player,
.roomCreate {
    width: 190px;
    height: 25px;
    padding-left: 2px;
    margin: 2px;
    border: none;
    border-radius: 4px;
    outline: none;
}

@media only screen and (max-width: 403px) {
    .login-box {
        width: 300px;
    }

    .input-style,
    .btn {
        width: 250px;
    }

    .reg-style {
        width: 122px;
    }

    .eye {
        margin-left: 220px;
    }

    .links {
        gap: 90px;
    }
}

@media only screen and (max-width: 303px) {
    .login-box {
        width: 250px;
    }

    .input-style,
    .btn {
        width: 200px;
    }

    .reg-style {
        width: 97px;
    }

    .eye {
        margin-left: 170px;
    }

    .links {
        gap: 37px;
    }
}

@media only screen and (max-width: 693px) {

    .profile-box {
        width: 35vh;
    }

    .profile-btn {
        width: 150px;
        height: 30px;
    }

    .w50 {
        height: 33vh;
        width: 40vh;
        padding-bottom: 0;
    }

    .w50-text {
        height: 25vh;
        width: 40vh;
    }

    .w50-username {
        height: 40vh;
        width: 40vh;
    }

    .usernameChange {
        height: 160px;
    }

    .row-profile {
        flex-direction: column;
    }

    .rightline-col {
        flex-direction: row;
    }

    .imgText {
        width: 30vh;
        text-align: center;
        padding-top: 140px;
    }

    .rightline {
        top: unset;
        width: 100%;
        height: 50px;
        background-color: white;
        position: fixed;
        bottom: 0;
    }
}

@media only screen and (max-width: 390px) {

    .imgText {
        width: 20vh;
        text-align: center;
    }
}

@media only screen and (max-width: 1370px) {

    .rating-box,
    .mini-rating-box {
        width: 110vh;
    }
}

@media only screen and (max-width: 1031px) {

    .rating-box,
    .mini-rating-box {
        width: 70vh;
    }

    .hide-info {
        display: none;
    }
}

@media only screen and (min-width: 1032px) {

    .mini-box-info-hide {
        display: none;
    }
}

@media only screen and (max-width: 679px) {

    .rating-box,
    .mini-rating-box {
        width: 40vh;
    }
}

@media only screen and (max-width: 431px) {

    .rating-box,
    .mini-rating-box {
        width: 35vh;
    }
}

@media only screen and (max-width: 1174px) {

    #card-InHands,
    #enemy-look,
    #maste,
    #none,
    .deck {
        width: 110px;
        height: 180px;
    }

    #card-InHands:hover {
        width: 130px;
        height: 200px;
    }
}

@media only screen and (max-width: 966px) {

    .bg-line {
        width: 70vh;
    }

    #card-InHands,
    #enemy-look,
    #maste,
    #none,
    .deck {
        width: 90px;
        height: 150px;
    }

    #maste {
        left: -80px;
    }

    #card-InHands:hover {
        width: 110px;
        height: 170px;
    }
}

@media only screen and (max-width: 748px) {

    #card-InHands,
    #enemy-look,
    #maste,
    #none,
    .deck {
        width: 80px;
        height: 130px;
        margin-right: -50px;
    }

    #maste {
        left: -20px;
    }

    #card-InHands:hover {
        width: 100px;
        height: 150px;
    }

    .player-btns {
        height: 130px;
        display: flex;
        justify-content: flex-end;
    }

    .enamy-btns {
        height: 130px;
        display: flex;
        justify-content: flex-start;
    }
}

@media only screen and (max-width: 560px) {

    #card-InHands,
    #enemy-look,
    #maste,
    #none,
    .deck {
        width: 70px;
        height: 115px;
    }

    #card-InHands:hover {
        width: 80px;
        height: 125px;
    }

    .play-btn {
        font-size: 10px;
        width: 70px;
    }

    #maste {
        left: -60px;
    }

    .left-back {
        left: -50px;
    }

    .right-back {
        position: fixed;
        opacity: 0;
    }

    #card-hited {
        display: none;
    }

    .surr {
        top: 200px;
    }
}

@media only screen and (max-width: 600px) {

    .bg-line {
        width: 55vh;
    }
}

@media only screen and (max-width: 465px) {

    .w80-cg {
        width: 70%;
    }

    .bg-line {
        width: 50vh;
        height: 6vh;
    }

    .btn-play {
        width: 12vh;
    }
}